<template>
  <div class="container leaderboard">
    <div class="alert-danger" v-if="error">
      {{ error }}
    </div>
    <div class="row">
      <div class="col">
        <ul v-if="+page > 1 || hasMore" class="pagination m-1 justify-content-center">
          <li class="page-item pr-2" v-bind:class="{'d-none': +page < 3}">
            <router-link class="page-link" :to='{name: "leaderboard", params: {page: 1}}'>1</router-link>
          </li>
          <li class="page-item" :class="{'d-none': +page < 2}">
            <router-link class="page-link" :to='{name: "leaderboard", params: { page: +page - 1 }}'>{{ +page - 1 }}</router-link>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">{{ page }}</a>
          </li>
          <li class="page-item" :class="{'d-none': !hasMore}">
            <router-link class="page-link" :to='{name: "leaderboard", params: { page: +page + 1 }}'>{{ +page + 1 }}</router-link>
          </li>
        </ul>
      </div>
    </div>
    <LeaderboardPlayer v-for="player in players" :key="player.player_id" :player="player"/>
  </div>
</template>

<script>
import Api from '../../service/api';
import LeaderboardPlayer from './LeaderboardPlayer';

export default {
  name: 'Leaderboard',
  data() {
    return {
      players: null,
      error: null,
      hasMore: false
    }
  },
  props: {
    page: {
      type: [String, Number],
      default: '1'
    }
  },
  mounted() {
      this.refreshPlayers();
  },
  watch: {
    '$route': {
      handler: 'refreshPlayers',
      immediate: true
    }
  },
  methods: {
    refreshPlayers: async function() {
      try {
        var res = await Api.getLeaderboardPlayers(this.page);
        this.players = res.playerList;
        this.hasMore = res.hasMore;
      } catch (err) {
        this.error = err.message;
      }
    }
  },
  components: {
    LeaderboardPlayer
  }
}
</script>

<style scoped>
.leaderboard {
  max-width: 500px;
}
@media (max-width: 576px) {
  .leaderboard {
    max-width: 350px;
  }
}
</style>
