<template>
    <div class="m-2 bg-light">
        <div class="row">
            <div class="col-auto place p-0" v-if="player.place">#{{ player.place }}</div>
            <div class="col name p-0">
                <div>
                    <router-link :to="{ name: 'player', params: { player_id: player.player_id, page: 1 } }"><PlayerName :name="player.name"/></router-link>
                </div>
            </div>
            <div class="col-auto rating p-0">{{ player.rating }}</div>
        </div>
        <div class="row text-left d-none d-sm-flex">
            <div class="col m-0 p-0" v-if="player.is_online"><i class="fas fa-circle online"></i> Online</div>
            <div class="col m-0 p-0" v-else>
                <i class="fas fa-circle offline mr-1"></i>
                <span data-toggle="tooltip" :title="seenDateExact">Seen {{ seenDate }}</span>
            </div>
            <div class="col-auto m-0 p-0" v-if="player.is_in_match">
                <router-link :to="{ name: 'match', params: { match_id: player.last_match_id } }"><i class="fas fighter-jet"></i> In match</router-link>
            </div>
            <div class="col-auto m-0 p-0" v-else>
                <router-link :to="{ name: 'match', params: { match_id: player.last_match_id } }">Last match</router-link>
            </div>
        </div>
    </div>
</template>

<script>
import { formatDistanceToNow } from 'date-fns'
import PlayerName from "./../PlayerName";

export default {
    name: "LeaderboardPlayer",
    props: ["player"],
    data: function() {
        return {
            seenDate: formatDistanceToNow(new Date(this.player.last_connect_timestamp), { addSuffix: true }),
        };
    },
    mounted() {
        $('[data-toggle="tooltip"]').tooltip({
            animated: "fade",
            placement: "auto",
            html: true,
            template: '<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
            delay: { show: 500, hide: 100 },
        });
    },
    components: {
        PlayerName,
    },
};
</script>

<style scoped>
.place,
.name,
.rating {
    font-size: 1.2rem;
}
@media (min-width: 576px) {
    .place,
    .name,
    .rating {
        font-size: 1.5rem;
    }
}
.place {
    max-width: 100px;
}
.rating {
    max-width: 100px;
}
.online {
    color: green;
}
.offline {
    color: grey;
}
.fa-fighter-jet {
    color: black;
}
</style>
