.online {
  color: green;
}

body {
  background-image: url("/img/back_576.jpg");
  background-color: black;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

header {
  padding-top: 5em;
}

#img-replay,
.jsgif > canvas {
  width: 100%;
  object-fit: contain;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  z-index: 2;
}

@media (min-width: 768px) {
  .abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.tooltip-inner {
  white-space: nowrap;
  max-width: none;
}

#play {
  display: none;
}
#play,
#pause,
#step-forward,
#step-backward {
  font-size: 2em;
}
#play:hover,
#pause:hover,
#step-forward:hover,
#step-backward:hover {
  cursor: pointer;
}
#play:active,
#pause:active,
#step-forward:active,
#step-backward:active {
  font-size: 1.9em;
}

#progress {
  height: 1rem;
  width: 100%;
  background-color: #c0c0c0;
}
#progress-controls {
  display: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 1rem;
}

h2 {
  font-size: 1.4rem;
}

@media (min-width: 576px) {
  body {
    background-image: url("/img/back_768.jpg");
  }
  h2 {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("/img/back_992.jpg");
  }
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  body {
    background-image: url("/img/back_1200.jpg");
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("/img/back_full.jpg");
  }
}

.donate {
  max-width: 30px;
}

.donate:hover {
  filter: brightness(80%);
}