<template>
    <div>
        <div class="row m-0" v-bind:title="blockName + ' ' + (item.type == 3 ? 'lost' : item.type == 1 ? 'build started' : 'build finished')">
            <div class="col text-right p-0">
                <img class="img" :src="'/img/sprites/block-' + blockName + '-medium.png'" />
            </div>
            <div class="col text-left p-0 ml-1">
                <span v-if="item.count > 1"> X {{ item.count }}</span><i class="fas fa-bolt ml-1 destroy" v-if="item.type == 3"></i>
            </div>
        </div>
    </div>
</template>

<script>
import { blockNameMap } from "../../helpers/buildorder";

export default {
    name: "BlockReplayItem",
    props: ["item"],
    computed: {
        blockName: function () {
            return blockNameMap[String(this.item.blockId)];
        },
    },
};
</script>

<style scoped>
</style>