<template>
    <div>
        <span data-toggle="tooltip" title="Chat message">{{item.message}}</span>
    </div>
</template>

<script>
export default {
    name: "ChatReplayItem",
    props: ["item"],
    mounted() {
        $('[data-toggle="tooltip"]').tooltip({
            animated: "fade",
            placement: "bottom",
            html: true,
            template: '<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
            delay: { "show": 0, "hide": 100 }
        });
    },
}
</script>

<style>

</style>