<template>
    <div>
        <div class="row m-0" v-bind:title="'winner: ' + item.winnerTeam">
            <div class="col text-left p-0 ml-1">
                The end
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "GameoverReplayItem",
    props: ["item"],
    computed: {
    },
};
</script>

<style scoped>
</style>