<template>
    <div>
        <PlayerName :name="item.name"/>
        <span v-if="item.type == 6"> connected <i class="fas fa-wifi"></i></span>
        <span v-if="item.type == 7"> disconnected <i class="fas fa-wifi line-through"></i></span>
    </div>
</template>

<script>
import PlayerName from '../PlayerName'

export default {
    name: "PlayerConnectionReplayItem",
    props: ["item"],
    components: {
        PlayerName
    }
};
</script>

<style scoped>
.line-through{
    background-color: transparent;
    background-image: gradient(linear, 19.1% -7.9%, 81% 107.9%, color-stop(0, transparent), color-stop(.40, transparent), color-stop(.52, #000), color-stop(.5, #000), color-stop(.58, #000), color-stop(.60, transparent), color-stop(1, transparent));
    background-image: repeating-linear-gradient(45deg, transparent 0%, transparent 40%, black 42%, black 50%,  black 58%, transparent 60%, transparent 100%);
}
</style>