<template>
  <div>
    <img id="img-replay" :src="'//ranked.ddns.net/replay-gif/' + match.match_id + '.gif'"/>
</div>
</template>

<script>
export default {
    name: 'ReplayGif',
    props: ["match"],
    data() {
      return {
        totalFrames: null
      }
    },
    mounted() {
    }
}
</script>

<style scoped>
#img-replay {
  width: 100%;
  object-fit: contain;
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
  z-index: 2;

}
</style>