<template>
    <div class="px-1" :class="{'bg-good': item.effect > 0, 'bg-bad':  item.effect == -1, 'bg-neutral':  item.effect == 0, 'bg-critical': item.effect == -2}">
        <BlockReplayItem v-if="item.type == 1 || item.type == 2 || item.type == 3" :item="item"/>
        <UnitReplayItem v-if="item.type == 4 || item.type == 5 || item.type == 16" :item="item"/>
        <PlayerConnectionReplayItem v-if="item.type == 6 || item.type == 7" :item="item"/>
        <ResourceTransferReplayItem v-if="item.type == 8 || item.type == 9" :item="item"/>
        <ChatReplayItem v-if="item.type == 13" :item="item"/>
        <TieBreakerReplayItem v-if="item.type == 14" :item="item"/>
        <GameoverReplayItem v-if="item.type == 17" :item="item"/>
    </div>
</template>

<script>
import BlockReplayItem from "./BlockReplayItem";
import UnitReplayItem from "./UnitReplayItem";
import PlayerConnectionReplayItem from "./PlayerConnectionReplayItem";
import ResourceTransferReplayItem from "./ResourceTransferReplayItem";
import ChatReplayItem from "./ChatReplayItem";
import TieBreakerReplayItem from "./TieBreakerReplayItem";
import GameoverReplayItem from "./GameoverReplayItem";

export default {
    name: "ReplayItem",
    props: ["item"],
    components: {
        BlockReplayItem,
        UnitReplayItem,
        PlayerConnectionReplayItem,
        ResourceTransferReplayItem,
        ChatReplayItem,
        TieBreakerReplayItem,
        GameoverReplayItem
    },
    created() {
        switch (this.item.type) {
            case 1:
            case 2:
                if (this.item.breaking) {
                    this.item.effect = 0;
                } else {
                    this.item.effect = 1;
                }
                break;
            case 3:
                if ([182,183,184].includes(this.item.blockId)) {
                    this.item.effect = -2;
                } else {
                    this.item.effect = -1;
                }
                break;
            case 6:
            case 16:
                this.item.effect = 1;
                break;
            case 5:
            case 7:
            case 14:
                this.item.effect = -1;
                break;
            default:
                this.item.effect = 0;
                break;
        }
    }
}
</script>

<style>
.bg-good {
    background-color: #A5D6A7;
}
.bg-bad {
    background-color:#EF9A9A;
}
.bg-neutral {
    background-color: #ccc;
}
.bg-critical {
    background-color: #e06868;
}
</style>