<template>
    <div>
        <div class="row m-0" v-bind:title="unitName + ' ' + (item.type == 4 ? 'created' : item.type == 5 ? 'lost' : 'deployed')">
            <div class="col text-right p-0">
                <img class="img" v-bind:src="'/img/sprites/unit-' + unitName + '-medium.png'" />
            </div>
            <div class="col text-left p-0 ml-1">
                <span v-if="item.count > 1">X {{ item.count }}</span>
            </div>
        </div>
    </div>
</template>

<script>
import { unitNameMap } from "../../helpers/buildorder";

export default {
    name: "UnitReplayItem",
    props: ["item"],
    computed: {
        unitName: function () {
            return unitNameMap[String(this.item.unitType)];
        },
    },
};
</script>

<style scoped>
</style>