<template>
    <span class="badge">
        {{before}}<span v-if="after"><i class="fas fa-arrow-right mx-1"></i>{{after}}</span>
    </span>
</template>

<script>
export default {
    name: "EloChange",
    props: ["before", "after"]
}
</script>

<style>

</style>