<template>
  <div class="container fullmatch my-2" v-if="match">
    <div class="alert-danger" v-if="error">
      {{ error }}
    </div>
    <div class="d-block d-md-flex">
      <div class="col">
        <div class="row">
            <div class="col">
              <router-link :to='{name: "player", params: {player_id: match.team1_player_id, page: 1}}'><PlayerName :name="match.team1_player_name"/></router-link>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <EloChange :before="match.elo1_before" :after="match.elo1_after"/>
            <EloDelta :before="match.elo1_before" :after="match.elo1_after"/>
          </div>
        </div>
        <div class="row" v-if="!match.in_progress && matchStats">
          <div class="col">
            <div>Controlling time</div>
            <PlayerStats v-if="playerStats1" :stats="playerStats1"/>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
            <div class="col">
              <router-link :to='{name: "player", params: {player_id: match.team2_player_id, page: 1}}'><PlayerName :name="match.team2_player_name"/></router-link>
            </div>
        </div>
        <div class="row">
          <div class="col">
            <EloChange :before="match.elo2_before" :after="match.elo2_after"/>
            <EloDelta :before="match.elo2_before" :after="match.elo2_after"/>
          </div>
        </div>
        <div class="row" v-if="!match.in_progress && matchStats">
          <div class="col">
            <div>Controlling time</div>
            <PlayerStats v-if="playerStats2" :stats="playerStats2"/>
          </div>
        </div>
      </div>
    </div>
    <div class="row"><div class="col"><span data-toggle="tooltip" :title="`<img src='/img/maps/${match.map}.png' />`">{{match.mapName}}</span></div></div>
    <div class="row">
      <div class="col">
          Duration: <span class="text-nowrap" data-toggle="tooltip" :title="'Started: ' + dateFormat(match.started_at) + (match.in_progress ? '' : '<br/>Finished: ' + dateFormat(match.finished_at))" :class="{'in-progress': match.in_progress}">{{duration}}</span>
        </div>
    </div>
    <div class="row" v-if="!match.in_progress">
      <div class="col">Reason: {{match.reason}}</div>
    </div>
      <!--{{matchStats}}-->
    <div class="row mt-1" v-if="replayGifSize">
      <div class="col">
        <button class="btn btn-sm btn-outline-secondary" v-on:click="loadReplayGif" v-if="!showReplayGif && replayGifSize > 0">Load replay GIF ({{humanFileSize(replayGifSize)}})</button>
        <a :href="`//ranked.ddns.net/replay-gif/${match_id}.gif`" id="download-replay-gif" class="btn btn-sm btn-outline-secondary ml-1" download v-if="replayGifSize > 0">Download <i class="fas fa-file-download"></i></a>
        <button class="btn btn-sm btn-outline-secondary" v-on:click="loadReplayGif" v-if="replayGifSize == 0" disabled>Replay GIF is unavailable</button>
        <ReplayGif class="mt-1" v-if="showReplayGif" :match="match"/>
      </div>
    </div>
    <div class="row mt-1" v-if="!match.in_progress && replaySize">
      <div class="col">
        <button class="btn btn-sm btn-outline-secondary" v-on:click="loadReplay" v-if="!showReplay && replaySize > 0">Load build order ({{humanFileSize(replaySize)}})</button>
        <a :href="`//ranked.ddns.net/replay/${match_id}.zip`" id="download-replay" class="btn btn-sm btn-outline-secondary ml-1" download v-if="replaySize > 0">Download <i class="fas fa-file-download"></i></a>
        <button class="btn btn-sm btn-outline-secondary"  v-if="replaySize == 0" disabled>Build order unavailable</button>
        <Replay class="mt-1" v-if="showReplay" :match="match"/>
      </div>
    </div>
  </div>
</template>

<script>
const dateFormat = require("dateformat");
const humanFileSize = require("../helpers/humanFileSize").humanFileSize;
import Replay from "./replay/Replay";
import ReplayGif from "./replay/ReplayGif";
import PlayerName from "./PlayerName";
import Api from '../service/api';
import EloChange from './EloChange';
import EloDelta from './EloDelta';
import PlayerStats from './stats/PlayerStats';

export default {
  name: 'FullMatch',
  props: ['match_id'],
  async created() {
    this.$timer.start('refreshMatch');
    this.$timer.start('refreshNow');
  },
  data() {
    return {
      match: null,
      error: null,
      matchStats: null,
      now: Date.now(),
      showReplay: false,
      showReplayGif: false,
      replaySize: null,
      replayGifSize: null
    }
  },
  watch: {
    matchStats: function () {
      $('[data-toggle="tooltip"]').tooltip({
        animated: "fade",
        placement: "auto",
        html: true,
        template: '<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
        delay: { "show": 500, "hide": 100 }
      })
    }
  },
  computed: {
    duration: function () {
      return new Date((this.match.finished_at || this.now) - this.match.started_at).toISOString().substr(11, 8);
    }
  },
  components: {
    Replay,
    ReplayGif,
    PlayerName,
    EloChange,
    EloDelta,
    PlayerStats
  },
  timers: {
    refreshMatch: { time: 5000, immediate: true, repeat: true },
    refreshNow: { time: 1000, immediate: true, repeat: true }
  },
  methods: {
    dateFormat,
    loadMatchStats: async function() {
      if (this.err) {
        return;
      }
      this.matchStats = await Api.getMatchStats(this.match_id);
      if (this.matchStats != null) {
        this.playerStats1 = this.matchStats.player[0].player_id == this.match.team1_player_id ? this.matchStats.player[0] || null : this.matchStats.player[1] || null;
        this.playerStats2 = this.matchStats.player[0].player_id == this.match.team1_player_id ? this.matchStats.player[1] || null : this.matchStats.player[0] || null;
      }
    },
    loadReplay: function() {
      if (this.err) {
        return;
      }
      this.showReplay = true;
    },
    loadReplayGif: function() {
      if (this.err) {
        return;
      }
      this.showReplayGif = true;
    },
    refreshNow: function() {
      this.now = Date.now();
    },
    refreshMatch: async function() {
      try {
        this.match = await Api.getMatch(this.match_id);
        if (this.match && !this.match.in_progress) {
          this.loadMatchStats();
          this.$timer.stop("refreshMatch");
          try {
            this.replaySize = await Api.getReplaySize(this.match_id);
          } catch (err) {
            this.replaySize = "0";
          }
          try {
            this.replayGifSize = await Api.getReplayGifSize(this.match_id);
          } catch (err) {
            this.replayGifSize = "0";
          }
        }
      } catch (err) {
        this.error = err.message;
      }
    },
    humanFileSize
  }
}
</script>

<style scoped>
.fullmatch {
  max-width: 700px;
}
</style>
