<template>
  <tr>
    <td class="align-middle name-vs col-md-12 col">
      <div class="d-xsm-flex flex-column text-left">
        <router-link class="px-1" :to="{name: 'player', params: {player_id: match.team1_player_id, page: 1}}" :class="{'winner': match.winner_team_number == 1, 'loser': match.winner_team_number == 2}"><PlayerName :name="match.team1_player_name"/><span v-if="!match.in_progress && match.winner_team_number == 1">🏆</span></router-link><br/>
        <router-link class="px-1" :to="{name: 'player', params: {player_id: match.team2_player_id, page: 1}}" :class="{'winner' : match.winner_team_number == 2, 'loser': match.winner_team_number == 1}"><PlayerName :name="match.team2_player_name"/><span v-if="!match.in_progress && match.winner_team_number == 2">🏆</span></router-link>
      </div>
    </td>
    <td class="align-middle p-1">
      <div class="d-flex flex-column">
        <span data-toggle="tooltip" :title="`<img src='img/maps/${match.map}.png' />`">
          {{match.map.replace(/_/g, " ").replace(/\'/g, "_")}}
        </span>
        <span class="text-nowrap" data-toggle="tooltip" :title="'Started: ' + dateFormat(match.started_at) + (match.in_progress ? '' : '<br/>Finished: ' + dateFormat(match.finished_at))" :class="{'in-progress': match.in_progress}">{{duration}}</span>
      </div>
    </td>
    <td class="align-middle p-1">
      <router-link :to="{name: 'match', params: { match_id: match.match_id }}">
        <button class="btn btn-outline-primary btn-sm">
          <i class="fas fa-lg fa-search mt-2"></i>
        </button>
      </router-link>
    </td>
  </tr>
</template>

<script>
const dateFormat = require("dateformat");
import PlayerName from './PlayerName';

export default {
  name: 'Match',
  props: ['match'],
  data() {
    return {
      now: Date.now()
    }
  },
  created() {
    var self = this;
    setInterval(function () {
      self.now = Date.now();
    }, 1000);
  },
  mounted() {
    $('[data-toggle="tooltip"]').tooltip({
      animated: "fade",
      placement: "auto",
      html: true,
      template: '<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>',
      delay: { "show": 500, "hide": 100 }
    });
  },
  computed: {
    duration: function () {
      var delta = (this.match.finished_at || this.now) - this.match.started_at;
      if (delta > 60 * 60 * 1000) {
        return new Date(delta).toISOString().substr(12, 7);
      } else {
        return new Date(delta).toISOString().substr(14, 5);
      }
    }
  },
  methods: {
    dateFormat
  },
  components: {
    PlayerName
  }
}
</script>

<style scoped>
.name-vs {
    font-size: 1.2em;
}
.in-progress {
  background: #56e6eb;
  border-radius: 5px;
  -webkit-animation: glow 1s infinite alternate;
  -moz-animation: glow 1s infinite alternate;
  animation: glow 1s infinite alternate;
}
@keyframes glow {
  from {
    filter: brightness(1.03);
  }
  to {
    filter: brightness(0.98);
  }
}
</style>
