<template>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <router-link :to="{name: 'home'}" class="navbar-brand">
      <img src="../../public/img/logo_32.png"/><span class="d-none d-inline-lg"> Mindustry Ranked</span>
    </router-link>

    <ul class="navbar-nav flex-row justify-content-center mr-sm-auto">
      <li class="nav-item m-2">
        <router-link :to="{name: 'leaderboard', params: {page: 1}}" class="nav-link p-0">
          <i class="fas fa-lg fa-trophy"></i><span class="d-none d-sm-inline"> Leaderboard</span>
        </router-link>
      </li>
      <li class="nav-item m-2">
        <router-link :to="{name: 'matches', params: {page: 1}}" class="nav-link p-0">
          <i class="fas fa-lg fa-fighter-jet"></i><span class="d-none d-sm-inline"> Matches</span>
        </router-link>
      </li>
      <li class="nav-item m-2">
        <router-link :to="{name: 'search'}" class="nav-link p-0">
          <i class="fas fa-lg fa-search"></i><span class="d-none d-sm-inline"> Search</span>
        </router-link>
      </li>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item m-2">
        <router-link v-if="loggedIn" :to="{name: 'profile'}" class="nav-link p-0">
          <i class="fas fa-lg fa-user-circle"></i><span class="d-none d-sm-inline"> Profile</span>
        </router-link>
      </li>
      <li v-if="loggedIn" class="nav-item m-2">
        <router-link :to="{name: 'logout'}" class="nav-link p-0">
          <i class="fas fa-lg fa-exit"></i><span class="d-none d-sm-inline"> Logout</span>
        </router-link>
      </li>
      <!--li v-else class="nav-item m-2">
        <router-link :to="{name: 'login'}" class="nav-link p-0">
          <i class="fas fa-lg fa-user-circle"></i><span class="d-none d-sm-inline"> Login</span>
        </router-link>
      </li-->
    </ul>
  </nav>
</template>

<script>
export default {
    name: "Navbar",
    data() {
      return {
        loggedIn: false
      }
    }
};
</script>

<style scoped>

</style>

