<template>
  <div class="container player">
    <div class="alert-danger" v-if="error">
      {{ error }}
    </div>
    <div class="row" v-if="player">
      <div class="col">
        <ul v-if="page > 1 || hasMore" class="pagination m-1 justify-content-center">
          <li class="page-item" :class="{'d-none': page < 3}">
            <router-link class="page-link" :to='{name: "player", params: { player_id: player.player_id, page: 1 }}'>1</router-link>
          </li>
          <li class="page-item" :class='{"d-none": +page < 2, disabled: +page < 2}'>
            <router-link class="page-link" :to='{name: "player", params: { player_id: player.player_id, page: +page - 1 }}'>{{ +page - 1 }}</router-link>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">{{ +page }}</a>
          </li>
          <li class="page-item" :class="{'d-none': !hasMore}">
            <router-link class="page-link" :to='{name: "player", params: { player_id: player.player_id, page: +page + 1 }}'>{{ +page + 1 }}</router-link>
          </li>
        </ul>
      </div>
    </div>
    <div class="row" v-if="player">
      <h4 class="col-auto place">#{{player.place}}</h4>
      <h4 class="col name"><span v-if="player.is_online"><i class="fas fa-circle online mr-1" title="Online"></i></span><PlayerName :name="player.name"/></h4>
      <h4 class="col-auto rating">{{player.rating}}</h4>
    </div>
    <table class="table table-borderless table-sm">
      <Match v-for="match in matches" :key="match.match_id" :match="match"/>
    </table>
  </div>
</template>

<script>
import Api from '../service/api';
import PlayerMatch from './Match';
import PlayerName from './PlayerName';
import Match from './Match';

export default {
  name: 'Player',
  props: ["player_id", "page"],
  data() {
    return {
      player: null,
      matches: null,
      error: null,
      hasMore: false
    }
  },
  async mounted () {
    this.refreshPlayer();
    this.refreshMatches();
  },
  watch: {
    '$route': {
      handler: 'refresh',
      immediate: true
    }
  },
  methods: {
    refresh: async function(event) {
      this.refreshPlayer();
      this.refreshMatches();
    },
    refreshPlayer: async function(event) {
      this.player = await Api.getPlayer(this.player_id);
    },
    refreshMatches: async function(event) {
      try {
        var res = await Api.getPlayerMatches(this.player_id, this.page);
        this.matches = res.history;
        this.hasMore = res.hasMore;
      } catch (err) {
        this.error = err.message;
      }
    }
  },
  components: {
    PlayerMatch,
    PlayerName,
    Match
  }
}
</script>

<style scoped>
@media (min-width: 992px) {
  .place, .name, .rating {
    font-size: 2rem;
  }
}
.player {
  max-width: 700px;
}
.online {
  color: green;
}
</style>
