<template>
    <span class="name">
        <span v-for="name_part in name_parts" :key="name_part.i" :style="{ color: name_part.color }">{{ name_part.value }}</span>
    </span>
</template>

<script>
export default {
    props: ["name"],
    data() {
        return {
            name_parts: null,
            colors: {
                white: "#ffffffff",
                clear: "#00000000",
                lightgray: "#bfbfbfff",
                gray: "#7f7f7fff",
                darkgray: "#3f3f3fff",
                black: "#000000ff",
                blue: "#0000ffff",
                navy: "#00007fff",
                royal: "#4169e1ff",
                slate: "#708090ff",
                sky: "#87ceebff",
                cyan: "#00ffffff",
                teal: "#007f7fff",
                green: "#00ff00ff",
                acid: "#7fff00ff",
                lime: "#32cd32ff",
                forest: "#228b22ff",
                olive: "#6b8e23ff",
                yellow: "#ffff00ff",
                gold: "#ffd700ff",
                goldenrod: "#daa520ff",
                orange: "#ffa500ff",
                brown: "#8b4513ff",
                tan: "#d2b48cff",
                brick: "#b22222ff",
                red: "#ff0000ff",
                scarlet: "#ff341cff",
                crimson: "#dc143cff",
                coral: "#ff7f50ff",
                salmon: "#fa8072ff",
                pink: "#ff69b4ff",
                magenta: "#ff00ffff",
                purple: "#a020f0ff",
                violet: "#ee82eeff",
                maroon: "#b03060ff",
            },
        };
    },
    created() {
        this.updateName();
    },
    watch: {
        name: function () {
            this.updateName();
        },
    },
    methods: {
        updateName() {
            this.name_parts = [];
            let colour_start = false;
            let colour_string = "";
            let part_start = 0;
            for (var i = 0; i < this.name.length; i++) {
                if (colour_start !== false) {
                    switch (this.name[i]) {
                        case "[":
                        case "]":
                            colour_start = false;
                            part_start = i + 1;
                            break;
                        default:
                            colour_string += this.name[i];
                            break;
                    }
                } else if (this.name[i] === "[" || i === this.name.length - 1) {
                    let text = this.name.slice(
                        part_start,
                        i + (1 ? i === this.name.length - 1 : 0)
                    );
                    if (text.length > 0) {
                        if (
                            this.colors.hasOwnProperty(
                                colour_string.toLowerCase()
                            )
                        ) {
                            colour_string = this.colors[
                                colour_string.toLowerCase()
                            ];
                        }
                        this.name_parts.push({
                            i: this.name_parts.length,
                            value: text,
                            color: colour_string,
                        });
                    }
                    colour_start = i;
                    part_start = i;
                    colour_string = "";
                }
            }
        },
    },
};
</script>

<style scoped>
.name {
    color: white;
    text-shadow: -1px -1px 1px #444, 1px -1px 1px #444, -1px 1px 1px #444, 1px 1px 1px #444;
    padding: 0;
}
</style>