<template>
    <div class="container search">
        <div class="alert-danger" v-if="error">
        {{ error }}
        </div>
        <div class="form-group row mt-2">
            <div class="col d-flex">
                <input class="form-control" type="text" placeholder="Nickname" v-model="query" v-focus />
                <button class="btn btn-outline-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
        <div v-if="loading" class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <LeaderboardPlayer v-for="player in players" :key="player.player_id" :player="player"/>
    </div>
</template>

<script>
import Api from "../../service/api";
import LeaderboardPlayer from './../leaderboard/LeaderboardPlayer';
var rankutils = require("../../helpers/rankutils");

export default {
    name: "Search",
    data() {
        return {
            debouncedQuery: "",
            loading: false,
            timeout: null,
            error: null,
            players: null,
            page: 1
        };
    },
    methods: {
        doSearch: async function () {
            this.loading = true;
            this.players = false;
            this.error = null;
            try {
                var res = await Api.searchPlayers(this.debouncedQuery, this.page);
                if (res.playerList.length == 0) {
                    this.error = "No results";
                    this.loading = false;
                    return;
                }
                res.playerList[0].rank = rankutils.get_rank(res.playerList[0].rating);
                res.playerList[0].name_stripped = res.playerList[0].name.replace(/\[.+?\]/g, "");
                for (var i = 1; i < res.playerList.length; i++) {
                    res.playerList[i].rank = rankutils.get_rank(res.playerList[i].rating);
                    res.playerList[i].name_stripped = res.playerList[i].name.replace(/\[.+?\]/g, "");
                }
                this.players = res.playerList;
                this.hasMore = res.hasMore;
            } catch (err) {
                this.error = err.message;
            }
            this.loading = false;
        },
    },
    computed: {
        query: {
            get() {
                return this.debouncedQuery;
            },
            set(val) {
                if (this.timeout) clearTimeout(this.timeout);
                this.timeout = setTimeout(() => {
                    this.debouncedQuery = val;
                    if (this.debouncedQuery.length > 0) {
                        this.doSearch();
                    }
                }, 400);
            },
        },
    },
    components: {
        LeaderboardPlayer
    },
    directives: {
        focus: {
            inserted: function (el) {
                el.focus()
            }
        }
    }
};
</script>

<style scoped>
.search {
    max-width: 700px;
}
</style>