<template>
  <div class="d-flex justify-content-center bg-light py-2 mb-4">
    <D3PieChart :datum="chartdata" :config="chartOptions" class="player-times-stats"/>
    <UnitControllingStats :stats="stats['controllingUnitsTime']"/>
    <BuildingControllingStats :stats="stats['controllingTurretsTime']"/>
  </div>
</template>

<script>
import {unitMap, playerUnitsIds} from '../../helpers/buildorder';
import { D3PieChart } from 'vue-d3-charts';
import UnitControllingStats from './UnitControllingStats';
import BuildingControllingStats from './BuildingControllingStats';

export default {
    name: 'PlayerStats',
    props: ['stats'],
    created() {
      this.totalTime = 0;
      if (this.stats["controllingUnitsTime"]) {
        for (var key in this.stats["controllingUnitsTime"]) {
          if (playerUnitsIds.includes(parseInt(key))) {
            this.totalTime += this.stats["controllingUnitsTime"][key];
          }
        }
      }
      this.idleTime = this.totalTime || 0 - this.stats.buildingTime || 0 - this.stats.miningTime || 0 - this.stats.shootingTime || 0;
      this.chartdata = [
        {name: "Building", value: this.stats.buildingTime || 0}, 
        {name: "Mining", value: this.stats.miningTime || 0},
        {name: "Shooting", value: this.stats.shootingTime || 0}, 
        {name: "Idle", value: this.idleTime || 0}
      ]
    },
    data() {
      return {
        data: null,
        chartOptions: {
          key: 'name',
          value: 'value',
          legend: {
            display: false,
          },
          tooltips: {
            callbacks: {
              label: function(tooltipItem, data) {
                var dataset = data.datasets[tooltipItem.datasetIndex];
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                  return previousValue + currentValue;
                });
                var currentValue = dataset.data[tooltipItem.index];
                var minutes = Math.floor(currentValue / 60);
                var seconds = currentValue - (minutes * 60);
                var percentage = Math.floor((currentValue/total) * 10000) / 100;
                return data.labels[tooltipItem.index] + " " + minutes + ":" + (seconds < 10 ? "0":"") + seconds + " / " + percentage + "%";
              }
            }
          }
        }
      }
    },
    components: {
        D3PieChart,
        UnitControllingStats,
        BuildingControllingStats
    }
}
</script>

<style scoped>
.player-times-stats {
  width: 150px;
  height: 150px;
}
</style>