<template>
    <tr>
        <td>
            <img class="img" v-bind:src="'/img/sprites/block-' + blockNameMap[stats.id] + '-medium.png'" :title="blockNameMap[stats.id]" />
        </td>
        <td>
            {{stats.minutes}}:{{stats.seconds}}
        </td>
    </tr>
</template>

<script>
let blockNameMap = require("../../helpers/buildorder").blockNameMap;

export default {
    name: 'SingleBuildingControllingStats',
    props: ['stats'],
    mounted() {
    },
    data() {
        return {
            statsByTime: [],
            blockNameMap
        }
    }
}
</script>

<style>

</style>