<template>
    <table class="d-flex flex-column">
        <single-unit-controlling-stat v-if="statsByTime.length > 0" :stats="statsByTime[0]"/>
        <single-unit-controlling-stat v-if="statsByTime.length > 1" :stats="statsByTime[1]"/>
        <single-unit-controlling-stat v-if="statsByTime.length > 2" :stats="statsByTime[2]"/>
    </table>
</template>

<script>
import SingleUnitControllingStat from './SingleUnitControllingStat.vue';

export default {
    components: { SingleUnitControllingStat },
    name: 'UnitControllingStats',
    props: ['stats'],
    mounted() {
        this.totalTime = 0;
        this.statsByTime = [];
        if (this.stats) {
            for (const [key, value] of Object.entries(this.stats)) {
                var minutes = Math.floor(value / 60);
                var seconds = value - minutes * 60;
                this.statsByTime.push({
                    id: key, 
                    minutes, 
                    seconds: ((seconds < 10) ? "0" + seconds : seconds), 
                    value
                });
            }
            this.statsByTime.sort((a, b) => (a.value < b.value) ? 1 : -1);
        }
    },
    data() {
        return {
            statsByTime: []
        }
    }
}
</script>

<style>

</style>